#info-card {
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}
#chinese-trad-info {
    margin: 0px 20px 0px 0px;
    font-size: 70px;
}
#chinese-simp-info {
    margin: 0px 0px 5px 20px;
    font-size: 35px;
}
.mean-info {
    margin-right: 20px;;
}
.read-info {
    margin-right: 5px;;
}
#horiz-div-1 {
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
}
#horiz-div-2 {
    align-items: flex-end;
}
#stage-count {
    margin-right: 50px;
}
#change-memo-button {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 300px;
}
.margin-right-30 {
    margin-right: 30px;
}
.horiz-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.memo-info {
    min-height: 60px;
}