#info-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

@media (max-width: 750px) { 
    #info-card {
        width: 80vw;
    }
}
@media (max-width: 425px) { 
    #change-memo-button {
        width: 90%;
    }
}