#result-flex {
    color: black;
    font-size: 18px;
    box-sizing: content-box;
    width: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border-radius: 7px;
    background-color: rgb(137, 205, 250);
    text-decoration: none;
}
.smallflex {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-p {
    margin-top: 8px;
    margin-bottom: 8px;
}
#search-card {
    height: 490px;
    display: flex;
    flex-direction: column;
}
#search-form {
    width: 100%;
    margin: 25px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#search-input {
    margin-left: 5px;
    width: 220px;
}
#search-label {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#search-p {
    margin: 3px 0px 0px 0px;
}
#search-button {
    width: 6em;
    margin-top: 0px;
    margin-bottom: 20px;
}
#clear-search-button {
    margin: 0px 0px 20px 20px;
    background:  rgb(173, 49, 45);
    width: 4em;
    height: 2.3em;
}

@media (max-width: 375px) {
    #search-p {
        display: none;
    }
    #search-input {
        margin-left: 0px;
    }
 }
