#addition-grid-card {
  height: 480px;
  width: 400px;
  text-align: left;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  grid-gap: 5px;
  place-items: unset;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
input, textarea {
  font-size: 15px;
  margin-left: 13px;
  float: right;
  width: 55%;
  height: 18px;
}
textarea {
  width: 55.5%;
  height: 54px;
}
#top-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#button-character {
  border-color: rgb(45, 99, 14);
  background:  rgb(30, 145, 58);
}
#button-word {
  border-color: rgb(104, 36, 168);
  background:  rgb(137, 47, 221);
}
#button-character, #button-word {
  width: 100px;
}
.add-h1 {
  margin: auto;
  margin-top: -5px;
  margin-bottom: 0px;
}
.hanzi-input {
  font-size: 20px;
}
.margin-bottom-3 {
  margin-bottom: 3px;
}
.margin-bottom-2 {
  margin-bottom: 2px;
}
#clear-button {
  height: 50px;
  width: 60px;
  margin: 0px 0px 0px 20px;
  background:  rgb(173, 49, 45);
}
#submit-button {
  height: 50px;
  width: 120px;
  margin-left: 32px;
}
.bottom-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#add-message {
  height: 15px;
  text-align: center;
  color: red;
}
.hanzi-input-short {
  margin-top: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  margin-left: 20px;
  display: inline-block;
  width: 60px;
  height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: red;
}
input:focus + .slider {
  box-shadow: 0 0 1px red;
}
input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

