#addition-card {
  margin-top: 15vh;
  min-height: 530px;
  height: auto;
  width: 400px;
  padding: 10px 30px 15px 30px;
  place-items: unset;
  font-size: 17px;
}
#button-character {
  border-color: rgb(45, 99, 14);
  background:  rgb(30, 145, 58);
}
#button-word {
  border-color: rgb(104, 36, 168);
  background:  rgb(137, 47, 221);
}
#button-character, #button-word {
  width: 100px;
}
.addition-label {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 0px;
  margin-top: 5px;
}
.addition-input {
  height: 18px;
  font-size: 20px;
  min-width: 240px;
  width: 80%;
  margin: auto;
}
.addition-input-short {
  height: 18px;
  font-size: 20px;
  min-width: 40px;
  width: 16%;
  margin: auto;
}
.add-h1 {
  margin: auto;
  margin-top: -5px;
  margin-bottom: 0px;
}
.add-p {
  margin-top: 5px;
  margin-bottom: 1px;
}
.margin-bottom-3 {
  margin-bottom: 3px;
}
.margin-bottom-2 {
  margin-bottom: 2px;
}
#clear-button {
  width: 3.5em;
  margin: 0px 10px 0px 20px;
  background:  rgb(173, 49, 45);
}
#submit-button {
  width: 120px;
}
#two-buttons-div {
  display: flex;
  flex-direction: row;
}
#top-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#bottom-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
#add-message {
  height: 25px;
  text-align: center;
  color: red;
}
.hanzi-input-short {
  margin-top: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  margin-left: 5px;
  margin-right: 25px;
  display: inline-block;
  width: 60px;
  height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: red;
}
input:focus + .slider {
  box-shadow: 0 0 1px red;
}
input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 500px) { 
  #addition-card {
      width: 80vw;
  }
}

@media (max-width: 330px) { 
  .add-h1 {
      font-size: 10vw;
  }
}

