body {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: rgb(103, 111, 226);
    background-position: top;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
input, textarea {
    background-color: rgb(219, 245, 250);
}
p {
    font-family: 'Roboto', sans-serif;
}
.card {
    margin: auto;
    margin-top: 18vh;
    height: 480px;
    width: 620px;
    text-align: center;
    padding: 10px;
    background: rgb(255, 216, 142);
    border-radius: 20px;
    display: grid;
    grid-gap: 0px;
    place-items: center;
}
.standard-button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    width: 8em;
    height: 2.3em;
    margin: 0.25em;
    border: none;
    border-radius: 0.33em;
    box-shadow: 0.5px 1px black;
    background: rgb(76, 86, 226);
    cursor: pointer;
}
.large-button {
    width: 11em;
}
.horizontal-flex-div {
    display: flex;
    flex-direction: row;
}

@media (max-height: 660px) { 
    .card {
        margin-top: 15vh;
    }
 }

@media (max-width: 680px) { 
    .card {
        width: 90vw;
    }
 }

 @media (max-width: 540px) { 
    .large-button {
        width: 8em;
        height: 2.9em;
    }
 }

 @media (max-width: 425px) {
    .standard-button {
        font-size: 5vw;
    }
    .large-button {
        font-size: 5vw;
    }
 }