body {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: rgb(88, 154, 199);
    background-position: top;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.card {
    margin: auto;
    margin-top: 20vh;
    height: 430px;
    width: 620px;
    text-align: center;
    padding: 10px;
    background: rgba(224, 187, 66, 0.8);
    border: solid rgb(32, 109, 145) 4px;
    display: grid;
    grid-gap: 0px;
    place-items: center;
}
.standard-button {
    color: white;
    width: 160px;
    height: 45px;
    margin: 5px;
    border: solid rgb(59, 87, 119) 3px;
    border-radius: 5px;
    background:  rgb(75, 112, 155);
    font-size: 14px;
    cursor: pointer;
}
