#submit-button-form {
  width: 95%;
}

#memonics {
  margin-top: 15px;
}

#new-level {
  height: 30px;
  margin-top: -10px;
  margin-bottom: 10px;
}

#meaning-input,
#reading-input {
  font-size: 18px;
}

#meaning-label,
#reading-label {
  margin-top: 12px;
  margin-right: 10px;
}

#meaning-solution,
#reading-solution {
  margin-top: 7px;
}

#chinese-traditional {
  text-align: center;
  font-size: 80px;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0px 20px 5px 20px;
  border: solid rgb(17, 47, 59) 3px;
  border-radius: 3px;
  background-color: rgb(137, 205, 250);
}

#chinese-simplified {
  font-family: 'Noto Sans SC', sans-serif;
}

.margin-top-15 {
  margin-top: 20px;
}

@media (max-width: 400px) {
  #chinese-traditional {
    text-align: center;
    font-size: 50px;
    border: solid rgb(17, 47, 59) 3px;
    border-radius: 3px;
    background-color: rgb(137, 205, 250);
  }
}