#chinese-traditional {
  text-align: center;
  font-size: 80px;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0px 20px 5px 20px;
  border: solid rgb(17, 47, 59) 3px;
  border-radius: 3px;
  background-color: rgb(137, 205, 250);
}

#chinese-simplified {
  font-family: 'Noto Sans SC', sans-serif;
}


@media (max-width: 400px) {
  #chinese-traditional {
    text-align: center;
    font-size: 50px;
    border: solid rgb(17, 47, 59) 3px;
    border-radius: 3px;
    background-color: rgb(137, 205, 250);
  }
}